<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Buddies</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <h1>Book Buddies</h1>
    <p>Add New Book</p>
    <a href="/users/<%=user._id%>/books/new">Add New Book</a>
</body>
</html>