<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Book</title>
</head>
<body>
    <%- include("../partials/_navbar.ejs") %>
    <div class="new-book-blurb">
        <h1>Add New Book</h1>
        <p>Log your latest read leave a rating and review if you'd like! If you didn't finish it (DNF), don't worry, we've all been there. 
            Check the DNF box and consider letting your fellow readers know why. It might just help others decide whether or not they want to read that book.
        </p>
    </div>
    <form action="/users/<%= user._id %>/books" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">

        <label for="author">Author:</label>
        <input type="text" name="author" id="author">

        <label for="genre">Genre:</label>
        <select name="genre" id="genre">
            <option disabled selected value> -- Select a Genre -- </option>
            <option value="fiction">Fiction</option>
            <option value="non-fiction">Non-Fiction</option>
            <option value="romance">Romance</option>
            <option value="fantasy">Fantasy</option>
            <option value="science-fiction">Science Fiction</option>
            <option value="mystery">Mystery</option>
            <option value="coming-of-age">Coming-Of-Age</option>
            <option value="young-adult">Young Adult</option>
            <option value="new-adult">New Adult</option>
            <option value="self-help">Self-Help</option>
            <option value="poetry">Poetry</option>
            <option value="history">History</option>
        </select>

        <label for="status">Read Status:</label>
        <select name="status">
            <option disabled selected value> -- Select a Genre -- </option>
            <option value="currentlyReading">Currently Reading</option>
            <option value="finishedReading">Finished Reading</option>
            <option value="dnf">Did Not Finish</option>
        </select>

        <label for="rating">Rating</label>
        <select name="rating" id="rating">
            <option disabled selected value> -- Select a Star Rating -- </option>
            <option value="one-star">⭐</option>
            <option value="two-stars">⭐⭐</option>
            <option value="three-stars">⭐⭐⭐</option>
            <option value="four-stars">⭐⭐⭐⭐</option>
            <option value="five-stars">⭐⭐⭐⭐⭐</option>
        </select>

        <label for="review">Review:</label>
        <textarea name="review" id="review"></textarea><br>

        <button type="submit">Add Book</button>
    </form>
</body>
</html>