<head>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<nav>
  <div class="app-name">
    <a href="/">Dear Reader</a>
  </div>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/books">Your Books</a>
    <a href="/users/<%= user._id %>/books/tbr">Your TBR</a>
    <a href="/users/<%= user._id %>/books/book-list">Check Out These Books</a>
    <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
  </nav>