<head>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kiwi+Maru&display=swap" rel="stylesheet">
</head>
<header class="header">
    <a class="app-name" href="/">Dear Reader</a>
    <label id="hamburger-icon" for="hamburger-btn">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </label>
    <input id="hamburger-btn" type="checkbox" />
    <nav>
      <ul class="menu">
        <% if(user) { %>
        <li><a href="/users/<%= user._id %>/books">Your Books</a></li>
        <li><a href="/users/<%= user._id %>/books/tbr">Your TBR</a></li>
        <li><a href="/users/<%= user._id %>/books/book-list">Check Out These Books</a></li>
        <li><a href="/auth/sign-out">Sign Out</a></li>
        <% } else { %>
        <li><a href="/auth/sign-in">Sign In</a></li>
        <li><a href="/auth/sign-up">Sign Up</a></li>
        <% } %>
      </ul>
  </nav>
</header>