<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Capriola&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Kiwi+Maru&display=swap" rel="stylesheet"> 
  <title>Home Page</title>
</head>
<body>
  <%- include("./partials/_navbar.ejs") %>
  <% if (user) { %>
    <h1>Welcome back, <%= user.username %>!</h1>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1 class="app-header">Welcome to Book Buddies!</h1>
    <div class="intro-blurb">
      <h2>Reach Your Goals</h2>
      <p>Is reading more books one of your New Years' resolutions? Stay on track with Book Buddies to log your current reads as well as keep track of the books you've read in the past.
        Be sure to also rate and review the books you've read so that other readers can get inspriation for their next reads. We can't wait to see what you read this year!
      </p>
      <div class="login-container">
        <p>
          <a href="/auth/sign-up">Sign up</a> or
          <a href="/auth/sign-in">Sign in</a>.
        </p>
      </div>
    </div>
  <% } %>
  <p><a href="/vip-lounge">See what everyone else is reading!</a></p>
</body>
</html>
