*{
    margin: 0;
    box-sizing: border-box;
}

body p{
font-size: 18px;
line-height: 1.5rem;
}

body a{
    text-decoration: none;
    color: black;
}

body a:hover{
    text-decoration: underline;
}

header{
    top: 0;
    width: 100%;
    height: 80px;
    position: sticky;
    background-color: rgb(153, 193, 153);
    margin-bottom: 50px;
}

nav{
    top: 0;
    position: fixed;
    right: -100%;
    width: 300px;
    height: 70%;
    overflow: hidden;
    padding-top: 48px;
    transition: right .5s;
    background-color: rgb(203, 179, 126);
}

nav a{
    display: block;
    padding: 24px 8px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

#hamburger-icon{
    z-index: 1;
    top: 10px;
    right: 10px;
    padding-top: 10px;
    position: absolute;
    cursor: pointer;
}

.line{
    width: 36px;
    height: 6px;
    margin: 6px;
    background-color: white;
}

#hamburger-btn{
    display: none;
}

#hamburger-btn:checked + nav{
    right: 0;
}

body{
    font-family: "Instrument Sans", sans-serif;
    background-color: beige;
}

.logged-in-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logged-in-subhead{
    text-align: center;
}

a:hover{
    text-decoration: underline;
}

.app-header{
    text-align: center;
    margin-bottom: 50px;
}

.app-name{
    display: flex;
    width: 20%;
    position: sticky;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: whitesmoke;
}

.app-name a{
    text-decoration: none;
    color: whitesmoke;
}

.app-name a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

form{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

label idx{
    font-weight: 800;
    color: white;
    font-size: 20px;
}

label{
    font-weight: 500;
    color: black;
    font-size: 20px;
}

input, select{
    height: 30px;
    border-radius: 10px;
}
.login-in-blurb{
    color: whitesmoke
}

textarea{
    border-radius: 5px;
}

.blurb-container{
    display: flex;
    flex-direction:row;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 15px;
}

.intro-blurb, .tbr-blurb{
    width: 325px;
    height: 325px;
    background-color: rgb(203, 179, 126);
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
    contain: content;
}

.community-link{
    text-align: center;
}

ul{
    list-style: none;
}

.book-list{
    font-size: 18px;
}
.booklist-blurb{
    margin-bottom: 20px;
}

.book-list a{
    font-size: 15px;
}

.space{
    height: 10px;
}

.show-details{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.booklist-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;
}

.book-title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.submit-btn{
    width: 100px;
    margin: 0 auto;
    background-color: whitesmoke;
    border: 1px solid;
    border-radius: 50px;
}

.submit-btn:hover{
    border: 2px solid black;
    background-color: rgb(207, 225, 207);
    color: black;
    cursor: pointer;
}

.login-container{
    background-color: rgb(153, 193, 153);
    opacity: .8;
    border: 1px solid rgb(44, 43, 43);
    border-radius: 7px;
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    contain: content;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.author-styling{
    font-style: italic;
    font-size: smaller;
}

.new-book-blurb{
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 5px;
    width: 60%;
    flex-direction: column;
    
}

@media(max-width: 480px){
    .blurb-container{
        display: flex;
        flex-direction: column;
    }

    nav{
        height: 30%;
        width: 100%;
    }
}
